<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itpractice.xiaohongshu.comment.biz.domain.mapper.MqFailedMessageMapper">

  <insert id="insert" parameterType="com.itpractice.xiaohongshu.comment.biz.domain.dataobject.MqFailedMessageDO">
      insert into t_mq_failed_message (topic, message_body, status, retry_count,
                                       max_retry_times, next_retry_time, create_time,
                                       update_time, error_msg)
      values (#{topic}, #{messageBody}, #{status}, #{retryCount},
              #{maxRetryTimes}, #{nextRetryTime}, #{createTime},
              #{updateTime}, #{errorMsg})
  </insert>
</mapper>